.container{
    width: 100%;
    max-width: 1400px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
}

.navFavorites{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.notFound {
    color: white;
}