.containerDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.name {
  background: rgba(59, 65, 64, 0.5);
  box-shadow: 0 8px 32px 0 rgba(180, 237, 227, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgb(93, 159, 146);
  padding: 14px 24px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  width: 550px;
  text-transform: uppercase;
  font-size: 20px;
}

.containerInfo {
  display: flex;
  justify-content: space-evenly;
  background: rgba(59, 65, 64, 0.5);
  box-shadow: 0 8px 32px 0 rgba(180, 237, 227, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgb(93, 159, 146);
  padding: 25px;
  color: white;
  margin-bottom: 30px;
}

.fav{
    position: absolute;
    top: 40px;
    right: 35px;
    z-index: 6;
    cursor: pointer;
}

.favTrue{
    color: red;
    font-size: 30px;
}

.favFalse{
    color: white;
    font-size: 30px;
}

.favTrue :hover{
  color: rgb(251, 181, 181);
}

.favFalse :hover{
  color: rgb(250, 138, 138);
}

.infoCharacter {
  color: white;
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.status{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.statusDead {
  color: rgb(152, 37, 50);
}
.statusAlive {
    color: rgb(46, 193, 63);
}
.statusunknown {
    color: rgb(117, 121, 117);
}

.infoCharacter h3 {
  text-transform: uppercase;
}

.infoCharacter h4 {
  margin-bottom: 12px;
  color: rgb(76, 241, 208);
}

.imgCharacter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgCharacter img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(195, 198, 197, 0.7);
}

@media (max-width: 768px) {
  .containerDetail {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerInfo {
    display: flex;
    flex-direction: column;
  }
  .imgCharacter img {
    width: 80%;
    margin-top: 25px;
    border-radius: 8px;
  }
  .name{
    width: 80%;
    font-size: 16px;
  }
  .fav{
    top: 30px;
    right: 30px;
  }
}
