.search {
    border: 2px solid rgb(93, 159, 146);
    border-radius: 0.5rem;
    border-radius: 0.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 10px;
    width: 18rem;
}

@media (max-width: 768px) {
    .searchBar{
        display: flex;
        margin-top: 10px;
    }
    .search{
        width: 100%;
    }
}

.buttonSearch{
    display: inline-flex;
    margin-right: 1.8rem;
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    border-width: 1px;
    background-color: rgb(44, 164, 140);
    border: 2px solid rgb(112, 199, 181);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.buttonSearch:hover{
    background-color: rgb(27, 104, 88);
    cursor: pointer;
}
    
    